@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Poppins:wght@400;500&family=Roboto&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  background-color: red;
  color: #fff;
}

.links {
  display: flex;
  gap: 15px;
}

.links li {
  list-style-type: none;
  font-size: 25px;
}

.links li:hover {
  border-bottom: 2px solid #fff;
  color: #000;
}

.logo h1 {
  border: 2px solid #fff;
  border-radius: 1rem;
  padding: 12px;
}

.footer {
  background-color: rgb(4, 4, 26);
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 5rem;
  text-align: center;
  padding-top: 20px;
}

a {
  color: aliceblue;
  text-decoration: none;
}

.strng {
  color: red;
}
